<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Areas</title>
</head>
<body>
    <h1>Areas</h1>

    <a href="{% url 'cadastrar_area' %}">Cadastrar uma Area</a>

    {% for area in lista_Area %}
        <p>
            Area: {{ area.nome }}
            <a href="{% url 'editar_area' area.id %}">Editar Area</a>
            <a href="{% url 'deletar_area' area.id %}">Deletar Area</a>
        </p>
        {% empty %}
        <p>Nenhum Curso Cadastrado </p>
    {% endfor %}
</body>
</html>