<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Perfil</h1>
    <p>Olá {{ user.nome_completo }}, seja bem-vindo!</p>
    <p><a href="{% url 'logout' %}">Sair</a></p>

    {% if perms.core.bibliotecario %}
    <p>Esse texto aparece para bibliotecários</p>
    {% endif %}

    {% if perms.core.coordenador %}
    <p>Esse texto aparece para Coordenadores</p>
    {% endif %}

    <p><a href="{% url 'contato' %}">Página de Contato</a></p>
</body>
</html>